<h1 class="font-bold mb-2 text-center text-lg">{{ title | titlecase }}</h1>

<mat-form-field class="w-full !bg-white">
  <mat-label>Search products</mat-label>
  <input matInput type="text" [(ngModel)]="term" class="w-full">
  @if (term) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="term=''">
      <mat-icon>close</mat-icon>
    </button>
  }
</mat-form-field>

<p *ngIf="loading" class="text-center text-lg">Loading...</p>

<div *ngIf="productsService.products">
  <app-product
    *ngFor="
      let product of productsService.products | filterProducts : term;
      let i = index
    "
    [product]="product"
  ></app-product>
</div>

<app-modal title="Create new product" *ngIf="modalService.isVisible$ | async">
  <app-create-product></app-create-product>
</app-modal>

<button
  class="rounded-full bg-red-700 text-white fixed right-5 bottom-5 py-2 px-4"
  (click)="modalService.open()"
>
  +
</button>
